@model IEnumerable<TheatreBlogAssessment.Models.Post>
@using TheatreBlogAssessment.Models

@{
    ViewBag.Title = "Index";
}

<h2>All Posts</h2>

<br />
<hr />

@foreach (var item in ViewBag.Categories)
{
    <b> @item.Name | </b>
}
<br />
<hr />

@using (Html.BeginForm())
{
    <p>
        Find posts by category: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<br />
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.PostId }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.PostId })*@

                | @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @if (User.IsInRole("Admin") || User.Identity.Name == item.User.UserName)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                }
            </td>
        </tr>
    }

</table>
